@using ClearMeasure.OnionDevOpsArchitecture.Core.Model
@model ClearMeasure.OnionDevOpsArchitecture.Core.Model.ExpenseReport[]

<!DOCTYPE html>

<html>
<head>
    <title>Expense Reports</title>
</head>
<body>
<div>
    <div>
        @Html.ActionLink("Add New", "New")
    </div>
    <table>
        <thead>
        <tr>
            <th>@Html.NameFor(reports => new ExpenseReport().Id)</th>
            <th>@Html.NameFor(reports => new ExpenseReport().Number)</th>
            <th>@Html.NameFor(reports => new ExpenseReport().Title)</th>
            <th>@Html.NameFor(reports => new ExpenseReport().Description)</th>
            <th>@Html.NameFor(reports => new ExpenseReport().Status)</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Length; i++)
        {
            <tr>
                <td>@Html.DisplayFor(reports => reports[i].Id)</td>
                <td data-expensereport-property="@nameof(ExpenseReport.Number)" data-value="@Model[i].Number">@Html.DisplayFor(reports => reports[i].Number)</td>
                <td>@Html.DisplayFor(reports => reports[i].Title)</td>
                <td>@Html.DisplayFor(reports => reports[i].Description)</td>
                <td>@Html.DisplayFor(reports => reports[i].FriendlyStatus)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>