@model ClearMeasure.OnionDevOpsArchitecture.Core.Model.ExpenseReport
@{
    ViewData["Title"] = "New Expense Report";
}

<div>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(report => report.Number, new{@class="col-2"})
            @Html.EditorFor(report => report.Number, new{@class="col-10"})
        </div>
        <div>
            @Html.LabelFor(report => report.Title, new{@class="col-2"})
            @Html.EditorFor(report => report.Title, new{@class="col-10"})
        </div>
        <div>
            @Html.LabelFor(report => report.Description, new{@class="col-2"})
            @Html.EditorFor(report => report.Description, new{@class="col-10"})
        </div>
        <div>
            <button type="submit" class="col-2 offset-2">Save</button>
        </div>
    }
</div>